<%- model_class = BlogDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @blog_details.each do |blog_detail| %>
      <tr>
        <td><%= link_to blog_detail.id, blog_detail_path(blog_detail) %></td>
        <td><%= blog_detail.title %></td>
        <td><%= blog_detail.description %></td>
        <td><%=l blog_detail.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      blog_detail_path(blog_detail), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_blog_detail_path(blog_detail), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      blog_detail_path(blog_detail),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_blog_detail_path,
            :class => 'btn btn-primary' %>
